@font-face {
    font-family: "Gotham";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/gotham/GothamSSm-Book.eot");
    src: url("../fonts/gotham/GothamSSm-Book-.eot#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-Book.woff") format("woff"), url("../fonts/gotham/GothamSSm-Book.ttf") format("truetype");
}
@font-face {
    font-family: "Gotham";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/gotham/GothamSSm-Medium.eot");
    src: url("../fonts/gotham/GothamSSm-Medium-.eot#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-Medium.woff") format("woff"), url("../fonts/gotham/GothamSSm-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Gotham";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/gotham/GothamSSm-Light.eot");
    src: url("../fonts/gotham/GothamSSm-Light-.eot#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-Light.woff") format("woff"), url("../fonts/gotham/GothamSSm-Light.ttf") format("truetype");
}

h1, h2, h3, p {
    font-family: $gotham;
}

    #fadein {
        opacity: 0;
    }
    @media screen and (max-width:500px) {
        #fadein {
            opacity: 1;
        }
    }